<?xml version="1.0"?>
<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear />
    <add name="üyeKayit" connectionString="Data Source=.; database=üyeKayit; uid=merve; pwd='MevsiM95';" />
    <add name="üyeKayitConnectionString" connectionString="Data Source=.;Initial Catalog=üyeKayit;Persist Security Info=True;User ID=merve;Password=MevsiM95"
      providerName="System.Data.SqlClient" />
    <add name="üyeKayitConnectionString2" connectionString="Data Source=.;Initial Catalog=üyeKayit;Persist Security Info=True;User ID=merve;Password=MevsiM95"
      providerName="System.Data.SqlClient" />
    <add name="randevuuuConnectionString" connectionString="Data Source=.;Initial Catalog=randevuuu;Persist Security Info=True;User ID=merve;Password=MevsiM95"
      providerName="System.Data.SqlClient" />
    <add name="üyeKayitConnectionString3" connectionString="Data Source=.;Initial Catalog=üyeKayit;User ID=merve;Password=MevsiM95"
      providerName="System.Data.SqlClient" />
    <add name="üyeKayitConnectionString4" connectionString="Data Source=.;Initial Catalog=üyeKayit;User ID=merve;Password=MevsiM95"
      providerName="System.Data.SqlClient" />
    <add name="üyeKayitConnectionString5" connectionString="Data Source=.;Initial Catalog=üyeKayit;User ID=merve;Password=MevsiM95"
      providerName="System.Data.SqlClient" />
    <add name="üyeKayitConnectionString6" connectionString="Data Source=.;Initial Catalog=üyeKayit;User ID=merve;Password=MevsiM95"
      providerName="System.Data.SqlClient" />
    <add name="üyeKayitConnectionString8" connectionString="Data Source=.;Initial Catalog=üyeKayit;User ID=merve;Password=MevsiM95"
      providerName="System.Data.SqlClient" />
    <add name="üyeKayitConnectionString7" connectionString="Data Source=.;Initial Catalog=üyeKayit;Persist Security Info=True;User ID=merve;Password=MevsiM95"
      providerName="System.Data.SqlClient" />
    <add name="üyeKayitConnectionString9" connectionString="Data Source=.;Initial Catalog=üyeKayit;Persist Security Info=True;User ID=merve;Password=MevsiM95"
      providerName="System.Data.SqlClient" />
    <add name="üyeKayitConnectionString10" connectionString="Data Source=.;Initial Catalog=üyeKayit;Persist Security Info=True;User ID=merve;Password=MevsiM95"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>